.popularLocation-nation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.popularLocation-nation > li {
  width: 47%;
  max-height: 100%;
  display: flex;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-bottom: 20px;
}

.popularLocation-nation > li > img {
  width: 70px;
  height: 75px;
  border-radius: 12px 0 0 12px;
}

.nation-contents__text {
  padding: 15px;
  margin-top: 3px;
}
