.uniqueHotel-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.uniqueHotel-list__contents {
  width: 45%;
  margin-right: 12px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}
.uniqueHotel-list__contents:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}
.list-contents__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  margin-bottom: 50px;
  padding: 3% 6%;
}
.uniqueHotel-list__contents > img {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 5px;
}

.list-contents__name > small > i {
  margin-right: 3px;
}
.list-contents__info {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
}
.list-contents__info-rating {
  margin-top: -30px;
}
.list-contents__info-rating i {
  /* color: #d5d5d5; */
  margin-right: -3px;
  font-size: 10px;
}
.list-contents__info-price {
  text-align: right;
}
